<!DOCTYPE html>
<html><head>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Forum: #{pcTitle page}</title>
  ^{pcHead page}
</head><body>
<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand mb-0 h1 mr-auto" href="@{HomeR}">DatForum</a>

  $maybe{ user <- mbuser }
    <span class="navbar-text mx-3"><i class="fa fa-user"></i> Usuari: <strong>#{user}</strong></span>
    <a class="btn btn-primary my-1" href="@{AuthR LogoutR}"><i class="fa fa-sign-out"></i> Tanca sessió</a>
  $nothing
    <a class="btn btn-primary my-1" href="@{AuthR LoginR}"><i class="fa fa-sign-in"></i> Login</a>
  $end
</nav>

$maybe{ msg <- mbmsg }
<div class="container">
  <div class="row"><div class="col-sm-12">
    <div class="message error">#{msg}</div>
  </div></div>
</div>
$end

^{pcBody page}
</body></html>

